/*!
* Start Bootstrap - Creative Bootstrap Theme (http://startbootstrap.com)
* Code licensed under the Apache License v2.0.
* For details, see http://www.apache.org/licenses/LICENSE-2.0.
*/

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

hr {
    max-width: 50px;
    border-color: #2093C4;
    border-width: 3px;
}

hr.light {
    border-color: #fff;
}

a {
    color: #2093C4;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #006d9e;
    text-decoration: none;
}

#about a, #action a {
    color: rgba(52, 52, 52, .7);
}

#about a:hover,
#about a:focus,
#action a:hover,
#action a:focus {
    color: rgb(52, 52, 52);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}

.bg-primary {
    background-color: #2093C4;
}

.bg-dark {
    color: #fff;
    background-color: #222;
}

.text-faded {
    color: rgba(255,255,255,.7);
}

section {
    padding: 100px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

.nav .fa {
    font-size: 1.3em !important;
    vertical-align: middle !important;
    margin: -4px 2px 0 0;
}

.navbar .logo {
    margin: 5px 10px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}
.navbar .logo #image {
  height:40px;
}

.navbar .logo #image img {
  height: 100%;
}
.navbar .logo #text {
  padding: 5px 0;
}
.logo #text #logo-blue,
.logo #text #logo-green {
    padding: 5px 7px;
    color: white;
    vertical-align: middle;
    margin-left: 5px;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
}
.navbar .logo #logo-blue {
  background: #168EC1;
}
.navbar .logo #logo-green { 
  background: #4cbd38 
}

.navbar-default {
    border-color: rgba(34,34,34,.05);
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
    color: #2093C4;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #4CBD38;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    color: #222;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #2093C4;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #2093C4!important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

@media(min-width:768px) {
    .navbar-default {
        border-color: rgba(255,255,255,.3);
        background-color: transparent;
    }

    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fff;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #fff;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        color: #2093C4;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #4CBD38;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;
        margin-top: 0;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #2093C4;
    }
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url(../img/header.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content img {
    display: block;
    width: 15em;
    margin: 0 auto 2em;
}

header .header-content h1#start {
    display: block;
    vertical-align: bottom;
    font-size: 35px !important;
    text-align: left;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 700;
}

header .header-content h1 .logo-blue,
header .header-content h1 .logo-green {
    padding: 10px 12px;
    color: white;
}

header .header-content h1 .logo-blue {
    display: block;
    background: #168EC1;
}

header .header-content h1 .logo-green {
    display: block;
    background: #4cbd38;
    margin-top: 7px;
}

header .header-content h2 {
    display: inline-block;
    vertical-align: bottom;
    margin: 5px 0 0 200px;
    color: #168EC1;
}

@media(min-width:768px) {
    header .header-content img {
      display: inline-block;
      margin: 0;
    }

    header .header-content h1#start {
        display: inline-block;
        margin: 0 10px 0 20px;
    }
  
    header .header-content h2#start {
        margin: 0 0 -5px 0;
    }
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(255,255,255,.9);
    text-shadow: 1px 1px 2px black;
}

@media (min-width:768px) and (min-height:600px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 55%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}

.section-heading {
    margin-top: 0;
    font-weight: 600;
    text-transform: uppercase;
}

.service-box {
    margin: 50px auto 0;
    max-width: 400px;
}

@media(min-width:992px) {
    .service-box {
        margin: 20px auto 0;
    }
}

.service-box p {
    margin-bottom: 0;
}

.resources-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

.resources-box .resources-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, .4);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.resources-box .resources-box-caption .resources-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.resources-box .resources-box-caption .resources-box-caption-content .resource-category,
.resources-box .resources-box-caption .resources-box-caption-content .resource-name,
.resources-box .resources-box-caption .resources-box-caption-content .resource-description {
    padding: 0 40px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.resources-box .resources-box-caption .resources-box-caption-content .resource-description {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
}

.resources-box .resources-box-caption .resources-box-caption-content .resource-name {
    font-size: 30px;
}

.resources-box:hover .resources-box-caption {
    background: rgba(22, 142, 193, .9);
}

@media(min-width:768px) {
    .resources-box .resources-box-caption .resources-box-caption-content .resource-description {
        font-size: 16px;
    }

    .resources-box .resources-box-caption .resources-box-caption-content .resource-name {
        font-size: 30px;
    }
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.text-primary {
    color: #2093C4;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn-default {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #ededed;
    color: #222;
    background-color: #f2f2f2;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn-primary {
    border-color: #2093C4;
    color: #fff;
    background-color: #2093C4;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: #006798;
    color: #fff;
    background-color: #006d9e;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #2093C4;
    background-color: #2093C4;
}

.btn-primary .badge {
    color: #2093C4;
    background-color: #fff;
}

.btn {
    border: 0;
    border-radius: 300px;
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
}

.btn-xl {
    padding: 15px 30px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #222;
}

#map {
    height: 300px;
    overflow: visible;
    position: relative;
}
