<form action="https://comunidade-software-livre.gitlab.io/dinheiro-publico-codigo-publico-forms/email" method="post">
  <input name="appid" type="hidden" value="pmpc-sign" />
  <input name="lang" type="hidden" value="{{ substr .Lang 0 2 }}" />
  <label class="sign-input form-na">
    <input name="name" placeholder="{{ i18n "action_form_name" }}" type="text" required />
  </label>
  <label class="sign-input form-em">
    <input name="confirm" placeholder="{{ i18n "action_form_email" }}" type="email" required />
  </label>
  <br />
  <label class="sign-input form-cn">
    <select name="country">
      <option value="">{{ i18n "action_form_country" }}</option>
      {{ $json := getJSON "data/countries/countries.json" }}
      {{ range sort $json "name" "asc" }}
        <option value="{{ .genc2a }}">{{ .name }}</option>
      {{ end }}
    </select>
  </label>
  <label class="sign-input form-zp">
    <input name="zip" placeholder="{{ i18n "action_form_zip" }}" type="text" maxlength="16" />
  </label>
  <div class="form-pe">
    <div>
      <label class="form-pe" for="permissionPriv">
        <input name="permissionPriv" id="permissionPriv" value="yes" type="checkbox" required /> {{ replace (i18n "action_form_permPriv") "privacy/" ("/privacy" | relLangURL) | markdownify }}
      </label>
    </div>
    <div>
      <label class="form-pe" for="permissionPub">
        <input name="permissionPub" id="permissionPub" value="yes" type="checkbox" /> {{ replace (i18n "action_form_permPub") "openletter/all-signatures" ("/openletter/all-signatures" | relLangURL) | markdownify}}
      </label>
    </div>
    <div>
      <label class="form-pe" for="permissionNews">
        <input name="permissionNews" id="permissionNews" value="yes" type="checkbox" /> {{ i18n "action_form_permNews" | markdownify }}
      </label>
    </div>
  </div>

  <label id="honey"> <!-- Honeypot for spam -->
    <p>Please do not put anything here:</p>
    <input name="url" type="text" />
  </label>
  <br />
  <button type="submit" class="btn btn-default btn-xl">{{ i18n "action_form_submit" }}</button>
</form>
