{{ "<!-- NAVIGATION -->" | safeHTML }}
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix">
    <noscript><div class="noscript">{{ i18n "javascript_warning" | safeHTML }}</div></noscript>
    <div class="container-fluid">
        {{ "<!-- Brand and toggle get grouped for better mobile display -->" | safeHTML }}
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="page-scroll hiddenlink" href="#page-top">
              <div class="logo">
                <div id="image">
                  <img src="/img/logo-dpcp.png" alt="Logo of the campaign" />
                </div>
                <div id="text">
                  <div id="logo-blue">{{ .Site.Params.static.slogan_1 }}</div>
                  <div id="logo-green">{{ .Site.Params.static.slogan_2 }}</div>
                </div>
              </div>
            </a>
        </div>
        {{ "<!-- Collect the nav links, forms, and other content for toggling -->" | safeHTML }}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">{{ i18n "navigation_links_about" }}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#arguments">{{ i18n "navigation_links_arguments" }}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#action">{{ i18n "navigation_links_action" }}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#resources">{{ i18n "navigation_links_resources" }}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#spread">{{ i18n "navigation_links_spread" }}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#language" title="Change Language"><i class="fa fa-globe" aria-hidden="true" style="font-size:1.5em;vertical-align:top;"></i> {{ .Site.Params.static.language }}</a>
                    </li>
            </ul>
        </div>
        {{ "<!-- /.navbar-collapse -->" | safeHTML }}
    </div>
    {{ "<!-- /.container-fluid -->" | safeHTML }}
</nav>
